html {
    background: #fafafc;
}

.sidebar {
    width: 240px;
    position: fixed;
    left:0px;
    top:0px;
    bottom:0px;
    
    padding-top: 70px;
}


.sidebar .item {
    height: 48px;
    line-height: 48px;
    margin-left: 34px;
    font-size: 1.25em;
    vertical-align: middle;
    border-radius: 4px;
}
.sidebar .item:hover {
    background: #ccc;
}

.sidebar .item i {
    vertical-align: middle;
    margin-left: 4px;
    margin-right: 4px;
}

.search-box {
    position: fixed;
    top:0px;
    height: 80px;
    left:268px;
    right: 0px;
    
    background: #fafafc;
    
    max-width: 664px;
    line-height: 80px;
    text-align: end;
}
.search-box input{
    font-size: 1.25em !important;
    padding: 2px !important;
    box-sizing: content-box;
    width: 220px;
}

.main {
    margin-left: 268px;
    padding-top: 80px;
    box-sizing: border-box;
    /*overflow: auto;*/
    max-width: 664px;
}

.main h1 {
    padding-left: 8px;
    margin-top: 0px;
}

.main .item {
    min-height: 40px;
    /*border-bottom: 1px solid #ddd;*/
    padding: 0px 8px;
    line-height: 40px;
    vertical-align: middle;
    margin-bottom: 0px;
    position: relative
}

.main .item.sub {
    margin-left: 40px;
}

.main .item.partial-selected label::before{
    opacity: 0.5;
}

.main .expand-icon {
    height: 100%;
    width: 32px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    cursor: pointer;
    display: inline-block;
    float: left;
    
    margin-left: -4px;
    margin-right: 4px;
}

.main .expand-icon i {
    vertical-align: middle;
}