<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>page list</title>
    <link rel="stylesheet" href="chrome://browser/content/extension.css"/>
    <link rel="stylesheet" href="fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="list.css"/>
  </head>

  <body>
    <div id="app">
        <div class="sidebar">
            <div class="item">
                <i class="fas fa-book fa-2x"></i>
                Current Tab
            </div>
        </div>
        
        
        <div class="main">
            <h1 class='browser-style'>Your current tabs {{ tabs.length }}</h1>
            <!--<pre id="test"></pre>-->
            <div v-for="group in groups" class='browser-style'>
                <div class='item head browser-style'>
                    <div class='div expand-icon'>
                        <i class="fas fa-angle-down fa-2x"/>
                        <input type="checkbox" v-bind:id="`input-${group.id}`" v-bind:checked="group.pages.filter((i)=>i.checked).length > 0"/>
                        <label v-bind:for="`input-${group.id}`">{{ group.keyword }}</label>
                    </div>
                </div>
                <div class='browser-style'>
                    <div v-for="page in group.pages" class='item browser-style sub'>
                        <input type="checkbox" v-bind:id="`input-${group.id}-${page.id}`" v-model="page.checked"/>
                        <label v-bind:for="`input-${group.id}-${page.id}`">{{ page.title }}</label>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="search-box browser-style">
            <input type="text" id="search" placeholder="search for tabs">
            <label for="search"></label>
        </div>
    </div>
    <!--
    <script async defer data-main="jieba/scripts/main" src="jieba/scripts/require.js"></script>
    -->
    <script src="jieba/scripts/preload.js"></script>
    <script src="cache.js"></script>
    <script src="vue.js"></script>
    <script src="jquery.js"></script>
    <script src="list.js"></script>
  </body>
</html>